{% extends "base.html" %}

{% block title %}Cadastrar Produto{% endblock %}

{% block content %}
    <h2>Cadastrar Produto</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.nome.label }} {{ form.nome(size=20) }}<br>
        {{ form.preco.label }} {{ form.preco(size=5) }}<br>
        {{ form.descricao.label }} {{ form.descricao(size=50) }}<br>
        {{ form.quantidade_estoque.label }} {{ form.quantidade_estoque(size=3) }}<br>
        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}
